.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.map-title {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#options {
    padding: 10px;
    line-height: 18px;
    margin-bottom: 40px;
    width: 200px;
}

#legend {
    padding: 10px;
    line-height: 18px;
    margin-bottom: 240px;
    width: 200px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.mapboxgl-popup-content {
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 12px;
    font-size: medium;
}
